<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectrotechnologyResit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElectrotechnologyResit.My.MySettings>
            <setting name="SQLConnection" serializeAs="String">
                <value>Server=DEVSQLCENTRAL.AD.VU.EDU.AU;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Multi Subnet Failover=False;</value>
            </setting>
            <setting name="PcLoginMonthlyPassword" serializeAs="String">
                <value>Futur9999stud9nt87</value>
            </setting>
            <setting name="ResitLoginWordTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ResitLoginOpenDocumentAfterSave" serializeAs="String">
                <value>False</value>
            </setting>
        </ElectrotechnologyResit.My.MySettings>
    </userSettings>
</configuration>
